@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    bool IsAuthenticated = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
}
@{
    Okurdostu.Data.Model.User AuthUser = null;
}

@if (IsAuthenticated)
{
    long Id = long.Parse(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Id")?.Value);
    using (var Context = new Okurdostu.Data.OkurdostuContext())
    {
        AuthUser = Context.User.FirstOrDefault(x => x.Id == Id);
    };
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="120">
    <title>@Html.Raw(ViewData["Title"])</title>
    <meta name="description" content="Öğrenci ve öğrenci dostunu bir araya getiren platform" />
    <meta name="keywords" content="okurdostu,kitap,akademik burs,kitap ihtiyaç,kitap burs,öğrenci,ihtiyaç,bağış,destekleme,üniversite,eğitim,burs,burslar,bursları,bursiyer,bursiyerler,kyk @Html.Raw(","+ViewBag.Keywords)">
    @if (ViewBag.OGImage != null)
    {
        <meta name="twitter:card" content="summary" />
    }
    else
    {
        <meta name="twitter:card" content="summary_large_image" />
    }
    <meta name="twitter:site" content="@Html.Raw("@okurdostucom")" />
    <meta property="og:site_name" content="Okurdostu" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:url" content="Url" />
    <meta property="og:title" content="@Html.Raw(ViewData["Title"])" />
    @if (ViewBag.Description != null)
    {
        <meta property="og:description" content="@Html.Raw(ViewBag.Description)" />
    }
    else if (ViewBag.OGDescription != null)
    {
        <meta property="og:description" content="@Html.Raw(ViewBag.OGDescription)" />
    }
    else
    {
        <meta property="og:description" content="Öğrenci ve öğrenci dostunu bir araya getiren platform" />
    }
    @if (ViewBag.OGImage != null)
    {
        <meta property="og:image" content="@Html.Raw(ViewBag.OGImage)" />
        <meta property="twitter:image" content="@Html.Raw(ViewBag.OGImage)" />
    }
    else
    {
        <meta property="og:image" content="https://okurdostu.com/content/image/okurdostu_twitter.jpg" />
        <meta property="twitter:image" content="https://okurdostu.com/content/image/okurdostu_twitter.jpg" />
    }
    @if (ViewBag.OGType != null)
    {
        <meta property="og:type" content="@Html.Raw(ViewBag.OGType)" />
    }
    else
    {
        <meta property="og:type" content="website" />
    }
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/bs-edited.css" rel="stylesheet" />
    <link href="~/css/style-introduction.css" rel="stylesheet" />
    @if (!IsAuthenticated)
    {
        <link href="~/css/preloader.css" rel="stylesheet" />
        @if (Context.Request.Path.Value.ToLower() != "/girisyap" && Context.Request.Path.Value.ToLower() != "/kaydol")
        {
            <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
        }
    }
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <partial name="~/Views/Shared/_SpinnerPartial.cshtml" />
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <a href="/"><span class="navbar-brand" style="cursor:pointer">Okurdostu</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-awesome fas fa-bars"></span> <span class="navbar-toggler-awesome fas fa-times"></span> </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav pt-1"> <li class="nav-item"> <a class="nav-link" href="/#header">ANASAYFA <span class="sr-only">(current)</span></a> </li><li class="nav-item"> <a class="nav-link" href="/#nasil">NASIL ÇALIŞIR?</a> </li><li class="nav-item"> <a class="nav-link" href="/sss">SSS</a> </li></ul>
            <ul class="navbar-nav ml-auto">
                @{
                    @if (!IsAuthenticated)
                    {
                        @if (Context.Request.Path.Value.ToLower() != "/girisyap" && Context.Request.Path.Value.ToLower() != "/kaydol")
                        {
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#login" style="cursor:pointer;">Giriş yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="modal" data-target="#signup" style="cursor:pointer;">Kaydol</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="/beta">Beta</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item page-scroll">
                            @if (AuthUser.PictureUrl == null)
                            {
                                <div class="dropdown show">
                                    <a class="dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="far fa-user lg-fa"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color:transparent">
                                        <a class="btn dropdown-item rounded-custom font-weight-bold" href="/beta">Beta</a>
                                        <a class="btn dropdown-item rounded-custom font-weight-bold" href="/@AuthUser.Username">Profil</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown show">
                                    <a class="dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="@AuthUser.PictureUrl" class="rounded-circle" style="width:60px;" alt="">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color:transparent">
                                        <a class="btn dropdown-item rounded-custom font-weight-bold" href="/beta">Beta</a>
                                        <a class="btn dropdown-item rounded-custom font-weight-bold" href="/@AuthUser.Username">Profil</a>
                                    </div>
                                </div>
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
    @RenderBody()
    <div class="footer"> <div class="container"> <div class="row"> <div class="col-md-4"> <div class="footer-col"> <h4>Okurdostu</h4> <p> Öğrenci ve öğrenci dostunu bir araya getiren platform </p><p> <a class="text-center font-weight-bold od" href="mailto:info@okurdostu.com"> info@okurdostu.com </a> </p></div></div><div class="col-md-4"> <div class="footer-col middle"> <h4>Bağlantılar</h4> <span class="font-weight-bold p-large"> <a href="/beta#Feedback" class="od">Geri bildirim</a> </span> <br /> <span class="font-weight-bold p-large"> <a href="/kullanici-sozlesmesi" class="od">Kullanıcı sözleşmesi</a> </span> <br /> <span class="font-weight-bold p-large"> <a href="/gizlilik-politikasi" class="od">Gizlilik politikası</a> </span> <br /> <span class="font-weight-bold p-large"> <a href="/KVKK" class="od">KVKK</a> </span> </div></div><div class="col-md-4"> <div class="footer-col last"> <h4>SOSYAL MEDYA</h4> <span class="fa-stack"> <a href="https://twitter.com/okurdostucom" target="_blank"> <i class="fas fa-circle fa-stack-2x"></i> <i class="fab fa-twitter fa-stack-1x"></i> </a> </span> <span class="fa-stack"> <a href="https://instagram.com/okurdostucom" target="_blank"> <i class="fas fa-circle fa-stack-2x"></i> <i class="fab fa-instagram fa-stack-1x"></i> </a> </span> <span class="fa-stack"> <a href="https://www.linkedin.com/company/okurdostu/" target="_blank"> <i class="fas fa-circle fa-stack-2x"></i> <i class="fab fa-linkedin-in fa-stack-1x"></i> </a> </span> <span class="fa-stack"> <a href="https://github.com/Okurdostu" target="_blank"> <i class="fas fa-circle fa-stack-2x"></i> <i class="fab fa-github fa-stack-1x"></i> </a> </span> <p class="od text-center font-weight-bold"> Bir yazılım geliştirici iseniz,<br /> Github'dan takip etmeyi unutmayın.<br /> Size ihtiyacımız olacak. </p></div></div></div><center> <span class="font-weight-bold small">&copy; @DateTime.Now.Year Okurdostu</span> </center> </div></div>
    @if (Context.Request.Path.Value.ToLower() != "/girisyap" && Context.Request.Path.Value.ToLower() != "/kaydol" && !IsAuthenticated)
    {
        <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-lg modal-dialog-centered" role="document"> <div class="modal-content" style="background: transparent;"> <div class="modal-body p-0" style="border-radius: 25px;"> <partial name="~/Views/SignUp/_PartialSignUpForm.cshtml"> </div></div></div></div><div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-dialog-centered" role="document"> <div class="modal-content" style="background: transparent;"> <div class="modal-body p-0" style="border-radius: 25px;"> <partial name="~/Views/Login/_PartialLoginForm.cshtml"> </div></div></div></div>
    }
    <script src="~/js/showhidepass.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script-introduction.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13125894-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-13125894-3');
    </script>
</body>
</html>
