@model Okurdostu.Data.Model.User
@{
    bool isAuthenticatedUserEqualModelUser = true;
}
@{
    ViewData["Title"] = Model.FullName + "@" + Model.Username + " | Okurdostu";
    ViewData["OGType"] = "profile";
    ViewData["Description"] = Model.FullName + " (@" + Model.Username + ") Okurdostu profili, ihtiyaçları, üniversite eğitim bilgileri";
    ViewData["OGImage"] = "https://okurdostu.com" + Model.PictureUrl;
    Layout = "~/Views/Shared/_LayoutOkurdostu.cshtml";
}

@if (isAuthenticatedUserEqualModelUser)
{
    <div class="text-center">
        <div class="btn-group btn-block">
            <button class="btn btn-outline-primary rounded-custom btn-block font-weight-bold mb-2" type="button" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-cog"></i>
            </button>
            <div class="dropdown-menu btn-block mt-1 rounded-custom" aria-labelledby="dropdown">
                <button class="dropdown-item font-weight-bold text-center text-xl-left text-lg-left fontrem1" type="button" data-toggle="modal" data-target="#AccountSettings">Hesap</button>
                <button class="dropdown-item font-weight-bold text-center text-xl-left text-lg-left fontrem1" type="button" data-toggle="modal" data-target="#ProfilSettings">Profil</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AccountSettings" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" style="background: transparent;">
                <div class="modal-body bg-light text-left" style="border-radius: 25px;">
                    <h3 class="font-weight-bold text-center text-black-50">
                        Ayarlar
                    </h3>
                    <ul class="nav nav-tabs font-weight-bold justify-content-center" id="tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Temel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Parola</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                            @{
                                //change basic account informations: username, e-mail
                            }
                        </div>
                        <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                            @{
                                //change password
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ProfileSettings" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" style="background: transparent;">
                <div class="modal-body bg-light text-left" style="border-radius: 25px;">
                    <h3 class="font-weight-bold text-center text-black-50">
                        Profil düzenleme
                    </h3>
                    <ul class="nav nav-tabs font-weight-bold justify-content-center" id="tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">İletişim</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profil-tab">
                            @{
                                //change FullName, bio
                            }
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            @{
                                //change or add contact informations ex: github,twitter profiles, showable e-mail
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 text-center text-xl-left text-lg-left text-md-left">
        @{ //when click profile photo: data-target="#profile-photo"
            if (isAuthenticatedUserEqualModelUser)
            {
                <script>
                    function FileSelect() {
                        document.getElementById('file').click();
                    }
                    function Selected() {
                        document.getElementById('AddPhotoButton').click();
                    }
                </script>
                using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input hidden="hidden" id="file" name="file" type="file" onchange="Selected()" accept="image/*" />
                    <button hidden="hidden" type="submit" id="AddPhotoButton"></button>
                }
                <div class="modal fade" id="profile-photo" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content" style="background: transparent;">
                            <div class="modal-body bg-light text-center" style="border-radius: 25px;">
                                <h3 class="font-weight-bold text-center text-black-50">
                                    Profil fotoğrafı
                                </h3>
                                <hr />
                                <button class="btn btn-block btn-outline-info rounded-custom font-weight-bold" onclick="FileSelect();">
                                    Yeni fotoğraf yükle
                                </button>
                                <a class="btn btn-block btn-danger rounded-custom font-weight-bold" href="#">
                                    Şuan ki fotoğrafı kaldır
                                </a>
                                <button class="btn btn-block btn-outline-secondary rounded-custom font-weight-bold" data-dismiss="modal">
                                    Vazgeçtim
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model.PictureUrl != null)
        {
            if (isAuthenticatedUserEqualModelUser)
            {
                <a data-toggle="modal" data-target="#profile-photo" style="cursor:pointer;">
                    <img src="@Model.PictureUrl" class="profil-image img-thumbnail rounded-pill mb-2" style="width:150px; height:150px;" />
                </a>
            }
            else
            {
                <img src="@Model.PictureUrl" class="profil-image img-thumbnail rounded-pill mb-2" style="width:150px; height:150px;" />
            }
        }
        else
        {
            if (isAuthenticatedUserEqualModelUser)
            {
                <a data-toggle="modal" data-target="#profile-photo" style="cursor:pointer;">
                    <img src="~/image/user.svg" class="profil-image img-thumbnail rounded-pill mb-2" style="width:150px; max-height:150px;" />
                </a>
            }
            else
            {
                <img src="~/image/user.svg" class="profil-image img-thumbnail rounded-pill mb-2" style="width:150px; max-height:150px;" />
            }
        }
        @if (Model.ContactEmail != null || Model.Twitter != null || Model.Github != null)
        {
            <div style="font-size:22px" class="text-center">
                @if (Model.Twitter != null)
                {
                    <a class="od font-weight-bold" href="https://twitter.com/@Model.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                }
                @if (Model.Github != null)
                {
                    <a class="od font-weight-bold" href="https://github.com/@Model.Github" target="_blank"><i class="fab fa-github"></i></a>
                }
                @if (Model.ContactEmail != null)
                {
                    <a class="od font-weight-bold" href="mailto:@Model.ContactEmail" target="_blank"><i class="far fa-envelope"></i></a>
                }
            </div>
        }
    </div>
</div>
<div class="font-weight-bold text-black-50">
    <h5 style="color:black;" class="m-0">@Html.Raw(Model.FullName)</h5>
    <span style="font-size:17px;" class="pl-1">
        @Html.Raw("(@" + Model.Username + ")")
    </span>
    <div style="font-size:15.5px;" class="pl-1">
        <span class="text-break">
            @if (Model.Biography != null)
            {
                @Html.Raw(Model.Biography.Replace("\r\n", "<br/>"))
            }
        </span>
    </div>
    <div>
        @if (isAuthenticatedUserEqualModelUser)
        {
            <div>
                <hr />
                <a class="btn btn-outline-purple font-weight-bold rounded-custom btn-block" href="/ihtiyac-olustur" style="font-size:16px">
                    İhtiyaç oluştur
                </a>
            </div>
        }
    </div>
</div>
@if (isAuthenticatedUserEqualModelUser)
{
    <hr class="mb-1" />
    <div class="row">
        <div class="col-auto">
            <h4 class="text-center text-xl-left text-lg-left text-black-50">Eğitim</h4>
        </div>
        <div class="col">
            <div class="float-right">
                <a class="btn od rounded-custom p-0 font-weight-bold" data-toggle="modal" data-target="#AddEducation" style="cursor:pointer; font-size:18px"><i class="fas fa-plus"></i> Eğitim</a>
            </div>
        </div>
        @{ //it should be rendered while .a clicking
            <div class="modal fade" id="AddEducation" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content" style="background: transparent;">
                        <div class="modal-body bg-light" style="border-radius: 25px;">
                            <h3 class="font-weight-bold text-center">
                                Eğitim ekleme
                            </h3>
                            <hr />
                            @{
                                //add education partial
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <hr class="mb-1" />
    <h4 class="text-center text-xl-left text-lg-left text-black-50">Eğitim</h4>
}