@model LoginModel

@if (Context.Request.Path.Value.ToLower() == "/girisyap")
{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
<div class="shadow p-2 bg-white rounded-custom mt-5 mb-5">
    <h3 class="text-center text-black-50"> Hoş geldin </h3>
    @if (Context.Request.Path.Value.ToLower() == "/girisyap")
    {
        <h6 class="text-center text-black-50">Hesabın yoksa: hemen <a class="od" href="/Kaydol">Kaydol</a></h6>
    }
    else
    {
        <h6 class="text-center text-black-50">Hesabın yoksa: hemen <span class="btn od font-weight-bold m-0 p-0" id="modalSignupButton" style="cursor:pointer;">Kaydol</span></h6>
    }
    <hr class="mt-0 mb-2" />
    @if (TempData["LoginMessage"] != null)
    {
        <p class="font-weight-bold text-danger">
            @Html.Raw(TempData["LoginMessage"])
        </p>
    }
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "LoginForm" }))
    {
        @Html.Hidden("ReturnUrl")
        <div class="form-group mb-2">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control rounded-pill font-weight-bold text-black-50", @placeholder = "Kullanıcı adı, telefon veya email", autocomplete = "username" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger font-weight-bold float-left" })
        </div>
        <div class="form-group mb-2">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control rounded-pill font-weight-bold text-black-50", @placeholder = "Parola", autocomplete = "current-password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger font-weight-bold float-left" })
        </div>
        <div class="form-group mb-2">
            @if (TempData["InvalidCaptcha"] != null)
            {
                <span class="font-weight-bold text-danger">@Html.Raw(TempData["InvalidCaptcha"])</span>
            }
        </div>
        <hr class="mt-2 mb-2" />
        <div class="form-group">
            <input id="Login" type="submit" value="Giriş yap" class="btn-purple btn-block" />
            @if (Context.Request.Path.Value.ToLower() != "/girisyap")
            {
                <button class="btn btn-outline-secondary rounded-custom font-weight-bold btn-block" data-dismiss="modal">Vazgeçtim</button>
            }
        </div>

        <div class="text-black-50 text-center small font-weight-bold">
            This site is protected by reCAPTCHA and the Google
            <a target="_blank" href="https://policies.google.com/privacy" class="od">Privacy Policy</a> and
            <a target="_blank" href="https://policies.google.com/terms" class="od">Terms of Service</a> apply.
        </div>
    }
</div>