@model Okurdostu.Data.Model.User
@{
    ViewData["Title"] = "Parola sıfırlama"; ViewData["AppMenu"] = "Hide"; Layout = "~/Views/Shared/_LayoutOkurdostu.cshtml";
}
<h5 class="text-black-50 text-center text-md-left">Okurdostu hesabınızı bulduk</h5>
@if (TempData["IdentificationType"]?.ToString() == "Username")
{
    <div class="row">
        <div class="col-auto text-center text-md-left pr-0">
            @if (Model.PictureUrl != null)
            {
                <img src="@Model.PictureUrl" class="profil-image rounded-pill " style="width:50px; height:50px" />
            }
            else
            {
                <img src="~/svg/user.svg" class="profil-image rounded-pill " style="width:50px; height:50px;" />
            }
        </div>
        <div class="col p-0">
            <h6>
                @Model.FullName<br />
                <span class="text-black-50">(@Html.Raw("@" + Model.Username))</span><br />
            </h6>
        </div>
    </div>
}
@if (TempData["IdentificationType"]?.ToString() == "Email")
{
    <p class="font-weight-bold text-black-50 mt-2">
        E-mail: @Model.Email<br />
    </p>
}
else
{
    <p class="font-weight-bold text-black-50 mt-2">
        E-mail: @Model.Email.StarsToEmail()
    </p>
}
<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
@using (Html.BeginForm("SendPasswordResetKey", "AccountUnAuth", FormMethod.Post))
{
    <div class="form-group">
        <label class="font-weight-bold text-black-50 mb-0">
            E-mail adresime parola sıfırlama isteği
            <input type="submit" value="Gönder" class="p-3 btn-purple rounded-custom font-weight-bold" />
        </label>
    </div>
}

